#container{
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;

}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* white icon */
}